<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JamGraphs Feed</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <!--- NAVIGATION BAR-->
    <%- include("header") %>
    <!--- INTRO-->      
    <main>
        <section class="feed-container">
        </section>
    </main>
    
    <%- include("footer") %>
</body>
</html>
