<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JamGraphs Feed</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/feed.css">
</head>
<body>

    <!--- NAVIGATION BAR-->
    <%- include("header") %>
    <!--- INTRO-->      
    <main>
        <aside class="filter-container">
            <div class="search-input-container">
                <div class="filter-input-element">
                    <input type="search" name="search-text" id="search-text" class="search-input">
                </div>
            </div>

            <div class="sort-input-container">
                <h2>Sort by</h2>
                <div class="sort-date-published">
                    <button id="sort-date-published-button" class="sort-button">Date Published <span class="sort-arrow"></span></button>
                </div>
                <div class="sort-title">
                    <button id="sort-title-button" class="sort-button">Title <span class="sort-arrow"></span></button>
                </div>
            </div>
      </aside>

        <section class="feed-container">
            <% posts.forEach(function(post) { %>
                <%- include("post", post) %>
            <% }); %>
        </section>
    </main>
    
    <%- include("footer") %>
</body>
</html>
