<div class="logo-area">
    <img src="images/logo.png" class="logo-img">
    <div class="logo">JamGraphs</div>
</div>

<nav>
    <a href="index.html">Home</a>
    <a href="account.html">Account</a>
    <a href="/visualizations">Visualizations</a>
    <a href="feed.html">Feed</a>
    <a href="about.html">About</a>
</nav>